.feature {
    background-color: #eae6e6;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 16px;
}

.mainImage {
    display: inline-block;
    width: 200px;
}

.post {
    display: flex;
    justify-content: space-between;
}